.navbar{
    background-color: #000;
    padding-left: 20px;
    color: white;
}
.button{
    padding: 10px;
    cursor:pointer;
    color: white;
    background-color: #000;
}

.button-market{
    padding: 10px;
    cursor:pointer;
    color: white;
    background-color: #000;
    font-size: 20px;
    margin-right: 10px;
}

.button-item{
    padding: 10px;
    cursor:pointer;
    color: white;
    font-size: 35px
}